<div class="container-fluid">
    <div class="row heading">
        <div class="col-xs-12">
            <h3>
                <span class="fa fa-warning warning"></span> Add Flight
            </h3>
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="flightno">Flight Number</label>
                    <input type="text" class="form-control" id="flightno" autocomplete="off" placeholder="Flight Number" ng-model="flight.flightNo">
                </div>
                <div class="form-group">
                    <label for="arrivalTime">Arrival Time (dd/MM/yyyy HH:mm)</label>
                    <input type="datetime" class="form-control" id="arrivalTime" autocomplete="off" placeholder="Arrival Time" ng-model="flight.arrivalDateTime">
                </div>
                <div class="form-group">
                    <label for="departureTime">Departure Time (dd/MM/yyyy HH:mm)</label>
                    <input type="datetime" class="form-control" id="departureTime" autocomplete="off" placeholder="Departure Time" ng-model="flight.departureDateTime">
                </div>
            </form>
        </div>
    </div>
    <div class="row call-to-action">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <button type="button" class="btn btn-tertiary" ng-click="ok()">Save</button>
            <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>